


.tron {
    color:  #2c3e50 ;
    background:#ecf0f1 ;
}

.navbar-inverse{
    background:  #2c3e50;
    
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color:white;
}

.nav-link{
    color: white;
}

.navbar-brand{
    color: white;
}